* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  --bg-color: #8874dd;
  --text-color: #a7ede7;
  --grayScale: black;
  --input-bg: #fff;
  --input-text: var(--bg-color);
  background-color: var(--bg-color);
  max-width: 80rem;
  margin: 0 auto;
}

/* NOTE: dark and light mode setup for the website */
.dark {
  --bg-color: #38305c;
  --text-color: #fff;
  --grayScale: white;
  --input-bg: #5c5858;
  --input-text: #fff;
}
